In [66]:
import pandas as pd
import random
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestRegressor 
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
import datetime

In [67]:
df = pd.read_csv('D://test/bd prognozowanie.csv', encoding='cp1251', sep = ';')

C:\Users\User\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (2,3,4,5,6,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [68]:
df.head()

,Код клиента,Страна происхождения клиента,Серия,Назначение,Наименование изделия,характеристики товара,артикул,Тип отделки,Остатки на начало месяца (или конец предыдущего),Дата конца месяца (месяц заказа),"Заказ, шт",Факт поставки
0,NaN,NaN,Дуэт,Спальня,Шкаф для одежды,3-х дверный,233-01/03,Без отделки,NaN,31.05.2020,1.0,NaN
1,NaN,NaN,Дуэт,Спальня,Шкаф для одежды,3-х дверный (без зеркала),233-01/03Б,Без отделки,NaN,31.05.2020,1.0,NaN
2,NaN,NaN,Дуэт,Спальня,Шкаф для одежды,4-х дверный (без зеркала),233-01/04Б,Без отделки,NaN,31.05.2020,1.0,NaN
3,NaN,NaN,Дуэт,Спальня,Комод,NaN,233-04,Без отделки,NaN,31.05.2020,5.0,NaN
4,NaN,NaN,Дуэт,Спальня,Зеркало,NaN,233-05,Без отделки,NaN,31.05.2020,2.0,NaN

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047939 entries, 0 to 1047938
Data columns (total 12 columns):
Код клиента                                         0 non-null float64
Страна происхождения клиента                        0 non-null float64
Серия                                               2298 non-null object
Назначение                                          2298 non-null object
Наименование изделия                                2298 non-null object
характеристики товара                               984 non-null object
артикул                                             2298 non-null object
Тип отделки                                         2298 non-null object
Остатки на начало месяца (или конец предыдущего)    0 non-null float64
Дата конца месяца (месяц заказа)                    2298 non-null object
Заказ, шт                                           2298 non-null float64
Факт поставки                                       0 non-null float64
dtypes: float64(5), object(7)
memory usage: 95.9+ MB

In [70]:
# заполним недостающие данные
# код клиента предположим, что у нас  клинта оптовик(1), розничный магазин(2)

def cod_customer(data):
    return random.randint(1, 2)
df['Код клиента'] = df['Код клиента'].apply(cod_customer)

In [71]:
# заполним недостающие данные
# код клиента предположим, что у нас  РБ(1), РОССИЯ(2), Казахстан(3)

def cod_country(data):
    return random.randint(1, 3)
df['Страна происхождения клиента'] = df['Страна происхождения клиента'].apply(cod_customer)

In [72]:
df.head()

,Код клиента,Страна происхождения клиента,Серия,Назначение,Наименование изделия,характеристики товара,артикул,Тип отделки,Остатки на начало месяца (или конец предыдущего),Дата конца месяца (месяц заказа),"Заказ, шт",Факт поставки
0,1,2,Дуэт,Спальня,Шкаф для одежды,3-х дверный,233-01/03,Без отделки,NaN,31.05.2020,1.0,NaN
1,1,2,Дуэт,Спальня,Шкаф для одежды,3-х дверный (без зеркала),233-01/03Б,Без отделки,NaN,31.05.2020,1.0,NaN
2,1,1,Дуэт,Спальня,Шкаф для одежды,4-х дверный (без зеркала),233-01/04Б,Без отделки,NaN,31.05.2020,1.0,NaN
3,1,2,Дуэт,Спальня,Комод,NaN,233-04,Без отделки,NaN,31.05.2020,5.0,NaN
4,2,1,Дуэт,Спальня,Зеркало,NaN,233-05,Без отделки,NaN,31.05.2020,2.0,NaN

In [73]:
df['Заказ, шт'] = pd.to_numeric(df['Заказ, шт'], errors='coerce')
df['Заказ, шт'] = df['Заказ, шт'].fillna(0)

In [74]:
df['Остатки на начало месяца (или конец предыдущего)'] = df['Остатки на начало месяца (или конец предыдущего)'].fillna(0)

In [75]:
for row in range(0, 2298):
    offer = df.loc[row]['Заказ, шт']
    df.loc[row, 'Остатки на начало месяца (или конец предыдущего)'] = round(random.uniform(0, 3) * offer, 0)

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047939 entries, 0 to 1047938
Data columns (total 12 columns):
Код клиента                                         1047939 non-null int64
Страна происхождения клиента                        1047939 non-null int64
Серия                                               2298 non-null object
Назначение                                          2298 non-null object
Наименование изделия                                2298 non-null object
характеристики товара                               984 non-null object
артикул                                             2298 non-null object
Тип отделки                                         2298 non-null object
Остатки на начало месяца (или конец предыдущего)    1047939 non-null float64
Дата конца месяца (месяц заказа)                    2298 non-null object
Заказ, шт                                           1047939 non-null float64
Факт поставки                                       0 non-null float64
dtypes: float64(3), int64(2), object(7)
memory usage: 95.9+ MB

In [77]:
for row in range(0, 2298):
    offer = df.loc[row]['Заказ, шт']
    #print(round(random.uniform(0, 1) * offer, 0))
    df.loc[row, 'Факт поставки'] = round(random.uniform(0, 1) * offer, 0)

In [78]:
df.head()

,Код клиента,Страна происхождения клиента,Серия,Назначение,Наименование изделия,характеристики товара,артикул,Тип отделки,Остатки на начало месяца (или конец предыдущего),Дата конца месяца (месяц заказа),"Заказ, шт",Факт поставки
0,1,2,Дуэт,Спальня,Шкаф для одежды,3-х дверный,233-01/03,Без отделки,0.0,31.05.2020,1.0,0.0
1,1,2,Дуэт,Спальня,Шкаф для одежды,3-х дверный (без зеркала),233-01/03Б,Без отделки,1.0,31.05.2020,1.0,1.0
2,1,1,Дуэт,Спальня,Шкаф для одежды,4-х дверный (без зеркала),233-01/04Б,Без отделки,2.0,31.05.2020,1.0,1.0
3,1,2,Дуэт,Спальня,Комод,NaN,233-04,Без отделки,5.0,31.05.2020,5.0,3.0
4,2,1,Дуэт,Спальня,Зеркало,NaN,233-05,Без отделки,2.0,31.05.2020,2.0,2.0

In [79]:
df_train = df[df.index < 2298].copy()

In [80]:
dict_series = {'Дуэт ': 'duet', 'Нинель': 'Ninel', 'Сабрина': 'Sabrina', 
               'Соната': 'Sonata', 'Трио': 'Trio', 'Влада': 'Vlada', 
               'Глория': 'Gloria', 'Лаура': 'Laura', 'Лика': 'Lika', 'Лолита': 'Lolita', 
               'Лорена': 'Lorena', 'Луиза': 'Louise', 'Милана': 'Milan', 'Мокко': 'Mocha',
               'Оливия': 'Olivia', 'Оскар': 'Oscar', 'Яна': 'Yana', 'Давиль': 'Daville', 
               'Полонез': 'Polonaise', 'Луи': 'Louis', 'Янина': 'Ioannina',
               'Амадей': 'Amadeus', 'Оксфорд': 'Oxford', 'Грация': 'Grace', 
               'Вика': 'Vika', 'Орхидея': 'Orchid', 'Стелла': 'Stella', 'Турин': 'Turin'}

In [81]:
df_train['Серия'] = df_train['Серия'].apply(lambda row: dict_series[row])

In [82]:
df_train.head(1)

,Код клиента,Страна происхождения клиента,Серия,Назначение,Наименование изделия,характеристики товара,артикул,Тип отделки,Остатки на начало месяца (или конец предыдущего),Дата конца месяца (месяц заказа),"Заказ, шт",Факт поставки
0,1,2,duet,Спальня,Шкаф для одежды,3-х дверный,233-01/03,Без отделки,0.0,31.05.2020,1.0,0.0

In [83]:
le = LabelEncoder()
le.fit(df_train['Серия'])
df_train['Series_code'] = le.transform(df_train['Серия'])

In [84]:
dict_name_goods = {'Шкаф для одежды': 'Wardrobe', 'Комод': 'Chest of drawers', 
                   'Зеркало': 'Mirror', 'Кровать': 'Bed', 'Тумба прикроватная': 'Nightstand', 
                   'Стол туалетный': 'Dressing table', 'Шкаф комбинированный': 'Combined cabinet',
                   'Стол письменный': 'Desk', 'Полка': 'Shelf', 'Тумба': 'Curbstone', 
                   'Сундук': 'Chest', 'Банкетка': 'Bench', 'Шкаф с витриной': 'Wardrobe with showcase', 
                   'Стол обеденный': 'Dining table', 'Шкаф навесной': 'Wall cabinet', 'Цоколь': 'Plinth',
                   'Стол журнальный': 'Coffee table', 'Тумба под телевизор': 'TV table', 
                   'Щит навесной': 'Hinged shield', 'Консоль': 'Console'}

In [85]:
df_train['Наименование изделия'] = df_train['Наименование изделия'].apply(lambda row: dict_name_goods[row])

In [86]:
le = LabelEncoder()
le.fit(df_train['Наименование изделия'])
df_train['name_goods_code'] = le.transform(df_train['Наименование изделия'])

In [87]:
dict_name_aim ={'Спальня': 'Bedroom', 'Общая комната': 'common room', 'Столовая': 'Canteen', 
                'Гостинная': 'Living room', 'Банкетки': 'Banquet',
                'Шкаф для одежды': 'Wardrobe', 'Кровать': 'Bed', 
                'Тумба прикроватная': 'Nightstand', 'Комод': 'Chest of drawers',
                'Зеркало': 'Mirror', 'Стол туалетный': 'Dressing table', 'Шкаф комбинированный': 'Combined cabinet',
                'Стол письменный': 'Desk', 'Полка': 'Shelf', 'Тумба': 'Curbstone', 'Сундук': 'Chest',
                'Банкетка': 'Bench', 'Шкаф с витриной': 'Wardrobe with showcase', 
                'Стол обеденный': 'Dining table', 'Стол журнальный': 'Coffee table',
                'Шкаф навесной': 'Wall cabinet', 'Цоколь': 'Plinth', 
                'Тумба под телевизор': 'TV table', 'Консоль': 'Console',
                'Щит навесной': 'Hinged shield', 'Библиотека': 'Library'}

In [88]:
df_train['Назначение'] = df_train['Назначение'].apply(lambda row: dict_name_aim[row])

In [89]:
le = LabelEncoder()
le.fit(df_train['Назначение'])
df_train['name_aim_code'] = le.transform(df_train['Назначение'])

In [90]:
df_train['NAN_characteristic'] = pd.isna(df_train['характеристики товара']).astype('int')

In [91]:
df_train['characteristic'] = df_train['NAN_characteristic'].apply(lambda x: 0 if (x == 1) else 1)

In [92]:
df_train['month'] = df_train['Дата конца месяца (месяц заказа)'].apply(lambda x: pd.to_datetime(x).month)

In [93]:
df_train['артикул'] = df_train['артикул'].str.replace('Б', 'B')
df_train['артикул'] = df_train['артикул'].str.replace('б', 'B')
df_train['артикул'] = df_train['артикул'].str.replace('Р', 'R')
df_train['артикул'] = df_train['артикул'].str.replace('З', 'Z')
df_train['артикул'] = df_train['артикул'].str.replace('У', 'U')
df_train['артикул'] = df_train['артикул'].str.replace('П', 'P')

In [94]:
le = LabelEncoder()
le.fit(df_train['артикул'])
df_train['articul_code'] = le.transform(df_train['артикул'])

In [95]:
df_train.head()

,Код клиента,Страна происхождения клиента,Серия,Назначение,Наименование изделия,характеристики товара,артикул,Тип отделки,Остатки на начало месяца (или конец предыдущего),Дата конца месяца (месяц заказа),"Заказ, шт",Факт поставки,Series_code,name_goods_code,name_aim_code,NAN_characteristic,characteristic,month,articul_code
0,1,2,duet,Bedroom,Wardrobe,3-х дверный,233-01/03,Без отделки,0.0,31.05.2020,1.0,0.0,27,18,2,0,1,5,145
1,1,2,duet,Bedroom,Wardrobe,3-х дверный (без зеркала),233-01/03B,Без отделки,1.0,31.05.2020,1.0,1.0,27,18,2,0,1,5,146
2,1,1,duet,Bedroom,Wardrobe,4-х дверный (без зеркала),233-01/04B,Без отделки,2.0,31.05.2020,1.0,1.0,27,18,2,0,1,5,147
3,1,2,duet,Bedroom,Chest of drawers,NaN,233-04,Без отделки,5.0,31.05.2020,5.0,3.0,27,3,2,1,0,5,151
4,2,1,duet,Bedroom,Mirror,NaN,233-05,Без отделки,2.0,31.05.2020,2.0,2.0,27,12,2,1,0,5,152

In [96]:
df_model = df_train[['Остатки на начало месяца (или конец предыдущего)', 'Заказ, шт', 'Series_code', 
                     'name_goods_code', 'name_aim_code', 'NAN_characteristic', 
                     'characteristic', 'month', 'articul_code']]
Y = df_train['Факт поставки']

In [125]:
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestRegressor 
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from math import *

In [98]:
def StandardScaler_column(d_col):
    scaler = StandardScaler()
    scaler.fit(df_model[[d_col]])
    return scaler.transform(df_model[[d_col]])

for column in df_model.columns:
    df_model[column] = StandardScaler_column(column)
    if len(df_model[df_model[column].isna()]) < len(df_model):
        df_model[column] = df_model[column].fillna(0)

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [99]:
X_train, X_test, y_train, y_test = train_test_split(df_model, Y, test_size=0.2, random_state=42)

In [100]:
model = RandomForestRegressor(n_estimators=100, verbose=1, n_jobs=-1, random_state=42)

In [101]:
model.fit(X_train, y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    0.1s finished

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                      oob_score=False, random_state=42, verbose=1,
                      warm_start=False)

In [130]:
y_pred = model.predict(X_test)

[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    0.0s
[Parallel(n_jobs=8)]: Done 100 out of 100 | elapsed:    0.0s finished

In [132]:
pred_y = []
for element in y_pred:
    pred_y.append(trunc(element))

In [133]:
pred_y = pd.DataFrame(pred_y)

In [134]:
MAE = metrics.mean_absolute_error(y_test, pred_y)
print('MAE:', MAE)

MAE: 1.241304347826087

In [135]:
y_test_list = []
for element in y_test:
    y_test_list.append(element)

In [137]:
pred = pd.concat([pd.DataFrame(y_test_list),pred_y], axis=1)
pred.columns = ['факт реализации', 'прогноз']

In [138]:
# факт и прогноз

pred

     факт реализации  прогноз
0                4.0        2
1                0.0        0
2                0.0        0
3                1.0        3
4                0.0        0
..               ...      ...
455              1.0        1
456              1.0        0
457              7.0        4
458              0.0        2
459              0.0        0

[460 rows x 2 columns]